* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
:root {
	--fb-blue: #3b5998;
	--fb-black: #000000;
	--fb-red: #ee2340;
	--fb-green: #3db557;
	--fb-yellow: #f6b024;
	--fb-bgcolor: #eef0f3;
	--fb-white: #ffffff;
	--fb-whitebag: #ffffff;
	--dark-color-text: #090909;
	--light-color-text: #606770;
	--button-link: #e0e2e8;
	--stories-bg: #090909;
}
body {
	background-color: var(--fb-bgcolor);
	font-family: Helvetica, Arial, sans-serif;
	color: var(--fb-black);
}

header {
	background-color: var(--fb-whitebag);
	height: 62px;
	display: flex;
	padding: 0, 15px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
}
.header__logo-section {
	display: flex;
}
.header__logo-icon .fa-facebook {
	font-size: 40px;
	color: var(--fb-blue);
}
.header__logo-search {
	position: relative;
	margin-left: 10px;
}
.header__logo-search .fa-search {
	position: absolute;
	top: 14px;
	left: 10px;
	color: var(--light-color-text);
}
.header__logo-search input[type='text'] {
	background: var(--fb-bgcolor);
	padding: 10px;
	border-radius: 25px;
	font-size: 1.2rem;
	color: var(--light-color-text);
	padding-left: 35px;
	border: none;
	margin-right: 20px;
}
.header__mobile-btn {
	display: none;
}
.header__menu-tabs {
	display: flex;
	max-width: 600px;
	width: 100%;
	flex: none;
}
.header__menu-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 62px;
	border-bottom: 4px solid var(--fb-whitebag);
	color: var(--light-color-text);
	cursor: pointer;
	font-size: 1.3rem;
}

.header__menu-tab--active,
.header__menu-tab:hover {
	border-bottom: 4px solid var(--fb-blue);
}

.header__menu-tab:hover .fas,
.header__menu-tab:hover .fab {
	color: var(--fb-blue);
}

.header__menu-tab--active .fas,
.header__menu-tab--active .fab {
	color: var(--fb-blue);
}
.header__menu-tab .fas,
.header__menu-tab .fab {
	position: relative;
}
.header__notification-bubble {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--fb-red);
	columns: var(--fb-white);
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--fb-white);
	position: absolute;
	top: -15px;
	right: -15px;
	font-weight: 700;
}
.header__acount {
	display: flex;
}
.header__actions {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__user-img {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	margin-right: 10px;
}
.header__user-name {
	font-size: 0.9rem;
	font-weight: 600;
	margin-right: 20px;
}
.header__circle-link {
	background: var(--button-link);
	color: var(--fb-blue);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-right: 10px;
}
.header__circle-link .fa-sort-down {
	position: relative;
	top: -3px;
	font-size: 1.4rem;
}

.header__link-icon {
	font-size: 0.9rem;
}

/* <------------ content feed side nav --------------> */

.content-area--feed {
	padding: 90px 15px 20px;
	display: flex;
	position: relative;
	height: 100%;
}
.sidenav {
	width: 25%;
}
.sidenav__item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}
.sidenav__item-img {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-right: 20px;
}
.sidenav__item-title {
	font-size: 1rem;
	font-weight: 400;
}

.sidenav__item-icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin-right: 20px;
}

.sidenav__item-notification {
	font-size: 10px;
	color: var(--fb-blue);
	margin-top: 5px;
	display: block;
	font-weight: 300;
}
.sidenav__item-notification-circle {
	width: 5px;
	height: 5px;
	background-color: var(--fb-blue);
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}
.sidenav__item-icon--circle {
	background: var(--button-link);
	border-radius: 50%;
	font-size: 0.9rem;
}
.sidenav__item-icon--circle-white {
	background: var(--fb-blue);
	border-radius: 50%;
	font-size: 1rem;
}
.sidenav__item-icon .fas,
.sidenav__item-icon .fab,
.sidenav__item-icon .fa {
	color: var(--fb-blue);
}
.sidenav__item-icon--circle .fas,
.sidenav__item-icon--circle .fav,
.sidenav__item-icon--circle .fa {
	color: var(--fb-black);
}
.sidenav__item-icon--circle-white .fas,
.sidenav__item-icon--circle-white .fav,
.sidenav__item-icon--circle-white .fa {
	color: var(--fb-white);
}

.sidenav__heading-title {
	margin-bottom: 15px;
}

.sidenav__line {
	height: 3px;
	display: block;
	background-color: var(--button-link);
	margin-bottom: 15px;
}

/* <------------ content feed main --------------> */

.feed {
	width: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.stories {
	display: flex;
	max-width: 700px;
	width: 100%;
	margin-bottom: 20px;
}
.stories__video-container {
	overflow: hidden;
	width: 120px;
	height: 200px;
	border-radius: 5px;
	background: var(--stories-bg);
	position: relative;
	box-shadow: 0 2px 2px 0 var(--fb-black);
	margin-right: 10px;
	cursor: pointer;
}
.stories__video-container:nth-last-child(1) {
	margin-right: 0px;
}
.stories__bg {
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	transition: opacity.3s ease-in-out;
}
.stories__video-container:hover .stories__bg {
	opacity: 0.8;
}
.stories__title {
	position: absolute;
	bottom: 0;
	background: var(--fb-white);
	width: 100%;
	color: var(--fb-black);
	padding: 20px 20px 10px;
	font-size: 1rem;
	text-align: center;
	line-height: 1.4;
}
.stories__new-btn {
	background: var(--fb-blue);
	width: 40px;
	height: 40px;
	color: var(--fb-white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 4px solid var(--fb-white);
	position: absolute;
	top: -20px;
	left: 33px;
}
.stories__title-users {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 20px 10px;
	font-size: 1rem;
	text-align: start;
	line-height: 1.4;
	color: var(--fb-white);
}
.stories__user-profile {
	border: 5px solid var(--fb-blue);
	position: absolute;
	left: 12px;
	top: 5px;
}
.stories__viewmore-btn {
	background: var(--fb-bgcolor);
	font-size: 1rem;
	position: absolute;
	top: 100px;
	right: 0px;
	border-radius: 50%;
	padding: 10px;
	border: 1px solid var(--light-color-text);
}
.post__box {
	max-width: 700px;
	width: 100%;
	padding: 20px;
	background: var(--fb-white);
	border-radius: 5px;
	box-sizing: 0 2px 1px 0px rgba(0, 0, 0, 25);
	margin-bottom: 20px;
}
.newpost {
	display: flex;
	align-items: center;
	justify-items: center;
	margin-bottom: 10px;
}
.newpost input {
	width: 90%;
	background: var(--fb-bgcolor);
	border: none;
	border-radius: 30px;
	padding: 10px;
	padding-left: 20px;
	font-size: 1.2rem;
	font-weight: 300;
	color: var(--light-color-text);
}
.createRoom {
	display: flex;
	align-items: center;
	position: relative;
}
.createRoom_btn {
	padding: 6px;
	border-radius: 13px;
	border: 2px solid var(--fb-bgcolor);
	margin-right: 15px;
	cursor: pointer;
	width: 186px;
	height: 37px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.createRoom_btn i {
	color: var(--fb-blue);
	flex: 1, 0, auto;
}
.createRoom_users-bubble {
	display: flex;
	overflow-x: hidden;
	overflow: scroll;
	position: relative;
}
.createRoom_users-bubble::-webkit-scrollbar {
	display: none;
}

.createRoom__bubble-user {
	position: relative;
	cursor: pointer;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
.createRoom__viewmore-btn {
	background: var(--fb-bgcolor);
	font-size: 0.5rem;
	position: absolute;
	top: 20px;
	right: 0px;
	border-radius: 50%;
	padding: 10px;
	border: 1px solid var(--light-color-text);
}
.text-post {
	margin: 20px 0;
}
.post__line {
	height: 1px;
}
.post__actions {
	display: flex;
	justify-content: space-around;
	font-size: 1rem;
}
.post__action-item .fa-video {
	color: var(--fb-red);
}
.post__action-item .fa-photo-video {
	color: var(--fb-green);
}
.fa-laugh-beam {
	color: var(--fb-yellow);
}
.post__action-item {
	color: var(--light-color-text);
}
.photopost {
	padding: 0 0 20px;
}
.photopost__info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px 0;
}
.photopost__left {
	display: flex;
	align-items: center;
}
.photopost__details {
	display: flex;
	flex-direction: column;
}
.photopost__name {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 2px;
}
.photopost__date {
	font-size: 0.7rem;
	color: var(--light-color-text);
}
.photopost__text {
	padding: 15px 20px 0;
	font-size: 1rem;
	margin-bottom: 20px;
}
.photopost__img {
	width: 100%;
}
.photopost__img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.photopost__engagement {
	padding: 20px 20px 0;
	font-size: 3rem;
}
.photopost__engagement-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	align-items: center;
}
.photopost__engagement-top-reactions {
	display: flex;
	align-items: center;
}
.photopost__engagement-top-reactions i {
	display: flex;
	margin-right: -5px;
	border: 3px solid var(--fb-white);
	border-radius: 50%;
	font-size: 1rem;
	padding: 2px;
	cursor: pointer;
	color: white;
}
.photopost__engagement-top-reactions :nth-last-of-type(1) {
	margin-right: 0px;
}
.photopost__engagement-top-reactions span {
	font-size: 1rem;
	color: var(--light-color-text);
	margin-left: 5px;
}
.photopost__engagement-top-reactions .fa-smile {
	background-color: var(--fb-yellow);
}
.photopost__engagement-top-reactions .fa-heart {
	background: var(--fb-red);
}
.photopost__engagement-top-reactions .fa-thumbs-up {
	background: var(--fb-blue);
}
.photopost__engagement-top-stats {
	font-size: 1rem;
	color: var(--light-color-text);
	cursor: pointer;
}
.photopost__engagement-user-actions {
	display: flex;
	justify-content: space-around;
}
.photopost__engagement-user-actions span {
	font-size: 1rem;
	color: var(--light-color-text);
	cursor: pointer;
}
.messenger {
	bottom: 10px;
	right: 10px;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.messenger__bubble {
	position: relative;
	margin-bottom: 5px;
	cursor: pointer;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.messenger__bubble-img {
	margin-right: 0px;
}
.messenger__notification-bubble {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--fb-red);
	columns: var(--fb-white);
	width: 15px;
	height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--fb-white);
	position: absolute;
	top: -4px;
	right: -2px;
	font-weight: 700;
	font-size: 0.7rem;
}
.messenger__online-status {
	background: var(--fb-green);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid var(--fb-white);
	position: absolute;
	bottom: 6px;
	right: -2px;
	font-weight: 700;
	font-size: 0.7rem;
}
.messenger__newmessage-btn {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: var(--fb-whitebag);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light-color-text);
}
.photopost_tesxt-img {
	background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
	height: 466px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--fb-white);
	font-size: 3rem;
	font-weight: 800;
	text-align: center;
}

@media only screen and (max-width: 1300px) {
	body {
		/* background: red; */
	}
	.header__menu-tabs {
		display: none;
		width: 0px;
	}

	.feed {
		width: 100%;
	}
}
@media only screen and (max-width: 1000px) {
	body {
		/* background: blue; */
	}
	.sidenav {
		display: none;
	}
	.header__mobile-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.7rem;
	}
}
@media only screen and (max-width: 768px) {
	body {
		/* background: purple; */
	}

	.header__user-name {
		display: none;
	}
	.header__user-img {
		display: none;
	}
	.photopost__left img {
		display: block;
	}
	.header__logo-search input[type='text'] {
		width: 40px;
		height: 40px;
	}
	.header__logo-search .fa-search {
		left: 15px;
		top: 12px;
	}
	.feed {
		display: block;
	}
	.stories {
		flex-wrap: nowrap;
		overflow-x: hidden;
		overflow: scroll;
	}
	.stories__video-container {
		flex: 1 0 auto;
	}
	/* .messenger {
		display: none;
	} */
	.newpost {
		justify-content: center;
	}
}
@media only screen and (max-width: 425px) {
	body {
		/* background: pink; */
	}
	.header__acount {
		display: none;
	}
	.header__logo-section {
		width: 100%;
	}
	.photopost__engagement-top-reactions span,
	.photopost__engagement-top-stats {
		font-size: 0.7rem;
	}
	.photopost__engagement-user-actions span {
		font-size: 0.7rem;
	}
	.newpost input[type='text'] {
		font-size: 0.7rem;
	}
	.post__actions {
		font-size: 0.7rem;
	}
	.photopost_tesxt-img {
		height: 263px;
	}
	.createRoom_btn {
		font-size: 0.5rem;
	}
}
@media only screen and (max-width: 375px) {
	body {
		/* background: dodgerblue; */
	}
	.photopost_tesxt-img {
		height: 193px;
	}
	.photopost__engagement-top-stats {
		display: none;
	}
} ;
